/*
 *= require_tree .
 *= require_self
 */

/* Navbar Le Wagon */
.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

.navbar-lewagon .navbar-brand {
  color: #167FFB;
  font-weight: bold;
}

/* Banner */
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  margin-bottom: 32px;
}

.banner h1 {
  color: white;
  font-size: 48px;
  font-weight: bold;
  margin: 0;
}

.banner p {
  color: white;
  font-size: 20px;
  opacity: .8;
  margin-bottom: 30px;
}

/* Buttons */
.btn-flat {
  color: white;
  padding: 8px 24px;
  background: #167FFB;
  text-decoration: none;
  display: inline-block;
}

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  text-decoration: none;
  display: inline-block;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  background: linear-gradient(#167FFB, #0F60C4);
  text-decoration: none;
  display: inline-block;
}

/* Cards Grid */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 16px;
}
